<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keyword-to-Speech Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <!-- 로고 이미지 또는 텍스트 -->
        <h1>Keyword-to-Speech Reader</h1>
    </header>
    <main>
        <form action="/" method="post" onsubmit="generateAudio()">
            <div class="input-section">
                <input type="text" id="keyword-input" name="keyword" placeholder="키워드를 입력해주세요." required />
                <input type="submit" value="입력" />
            </div>    
        </form>
        <div class="output-section">
            <button id="view-text-button">글 보기</button>
            <textarea id="generated-text" rows="10" cols="50" style="display: none;" placeholder="여기에 생성된 글이 나타납니다." readonly>{{ result }}</textarea>
            <button id="read-text-button" onclick="readText()">글 읽어주기</button>
            <button id="download-text" onclick="downloadTextFile()">텍스트로 다운로드</button>
            <button id="download-audio" onclick="downloadAudioFile()">음성으로 다운로드</button>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>